$primary:#3292a6;
$primary-overlay:rgba(50,146,166,0.8);

body{
    margin-top: 105px;
    
}

.navbar{
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background-color: white;
    .nav-item{
        color: grey;
        font-size: 1.4rem;
    }
}
#showcase{
    position: relative;
    background: url("../img/mountains.jpg");
    min-height: 600px;
    .overlay{
        background: $primary-overlay;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
#card{
    border: 1px solid $primary;
}
.card-body{
    #heading{
        color: $primary;
    }
    #col2{
        background-color: $primary;
    }
}
#authors{
    color: $primary;
}
#author{
    img{
        margin-top: -50px;
    }
    .card:hover{
        background: $primary;
        color: white;
    }
    .fa{
        color: white;
    }
    
}